<p>This is the customers orders page</p>
    <p><% @orders.each do |order| %></p>
    <p>quantity ordered <%= order.quantity %></p>
    <p>is this a gift? <%= order.gift %></p>
    <p>created <%= order.created_at %></p>
    <p>updated <%= order.updated_at %></p>
    <p>order type <%= order.order_type %></p>
    <p>Customer ID <%= order.customer_id %></p>
<p><% end %></p>

