<a href="/orders">This link will take you to all orders index page</a>
<a href="/customers">This link will take you to all customers index page</a>
<p>This is the customers orders page</p>
    <p><% @orders.each do |order| %></p>
    <p>quantity ordered <%= order.quantity %></p>
    <p>is this a gift? <%= order.gift %></p>
    <p>created <%= order.created_at %></p>
    <p>updated <%= order.updated_at %></p>
    <p>order type <%= order.order_type %></p>
    <p>Customer ID <%= order.customer_id %></p>
<p><% end %></p>

<p><%= link_to "New Order", "/customers/#{@customer.id}/orders/new" %></br></p>

<p><%= link_to "Sort Orders Alphabetically", sort_by: "order_type" %></br></p>

<p><%= form_with url: "/customers/#{@customer.id}/orders", method: :get, local: true do |form| %>
  <%= form.label :Threshhold %>
  <%= form.number_field :number %></br>
  <%= form.submit 'Only return orders with more than this number of quantity' %>
<% end %></p>