<p>This is the customers orders page</p>
    <%# <%= require 'pry' ; binding.pry  %>

<p><% @orders_of_parent.each do |order| %></p>
<p>quantity ordered <%= order.quantity %></p>
<p>is this a gift? <%= order.gift %></p>
<p>created <%= order.created_at %></p>
<p>updated <%= order.updated_at %></p>
<p>Customer ID <%= order.customer_id %></p>

<p><% end %></p>


<%# Then I see each order that is associated with that customer with each order's attributes: %>
