<a href="/orders">This link will take you to all orders index page</a>
<h1>Customers</h1>

<% @customers.each do |customer| %>
  <h3><%= customer.first_name %><%=" "%><%= customer.last_name %></h3>
  <p>Created at: <%= customer.created_at %></p>
 <p><a href="/customers/<%= customer.id %>/edit">Edit</a></p>
 <%= button_to "Delete Customer", "/customers/#{customer.id}", method: :delete %>
<% end %>

 <a href="/customers/new">New Customer</a>

