<p>First Name: <%= @customer.first_name%></p>
<p>Last Name: <%= @customer.last_name%>
<p>In USA?: <%= @customer.in_usa%>
<p>Credit Score: <%= @customer.credit_score%>
<p>Created At: <%= @customer.created_at%>
<p>Updated At: <%= @customer.updated_at%>
<p>ID in Database: <%= @customer.id%>
<p>order count: <%= @order_count %>


<p>Number of Orders This customer has:  <%= @order_count %>


<%# I see a count of the number of children associated with this parent %>
