<a href="/customers">This link will take you to all customers index page</a>

<h1>All Orders That are Gifts</h1>
  <% @orders.each do |order| %>
  <div id= "order_<%=order.id%>" >
  <p>Order ID: <%= order.id %></p>
  <p>Customer ID: <%= order.customer_id %></p>
  <p>Quantity Ordered: <%= order.quantity %></p>
  <p>Gift? <%= order.gift %></p>
  <p>What was ordered? <%= order.order_type %></p>
  <p>Created At <%= order.created_at %></p>
  <p>Updated At <%= order.updated_at %></p>
  <p>customer who ordered this item <%= order.customer.first_name %></p>
   <p><a href="/orders/<%= order.id %>/edit">Edit</a></p>
   <%= button_to "Delete", "/orders/#{order.id}", method: :delete %>
</div>

<% end %>

